* {
    margin: 0;
    padding: 0;
}

.menu{
    position: fixed;
    margin-top: 16px;
    top: 0;
}

.menu-img {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.avatar{
    border-radius: 6px;
    width: 32px;
    height: 32px;
    margin: 0 10px 0 0;
}

.text{
    color: #222222;
    font-family: "GolosUI", sans-serif;
    width: 474px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.15px;
    line-height: 18px;
    margin: 0 0 0;
}

.text.past {
    color: #22222280;
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 20px;
}

.block-avatar {
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
    height: 32px;
    width: 474px;
}

.text.name {
    font-weight: 500;
    font-size: 14px;
}

.frame {
    width: 474px;
    margin: 0 auto 0;
}

.frames>:first-child{
    padding-top: 25px;
    width: 474px;
    margin: 0 auto 0;
}

.like {
    cursor: pointer;
    font-family: "GolosUI", sans-serif;
    width: fit-content;
    height: 30px;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: -0.15px;
    background-color: #2222220D;
    color:#222222;
    border-radius: 8px;
    margin: 0 0 16px;
    box-sizing: border-box;
    padding: 6px 12px 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heart {
    width: 16px;
    height: 18px;
    margin: 0 3px 0 0;
}

.image {
    width: 474px;
    height: 474px;
    margin-bottom: 16px;
}