* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.menu {
    position: fixed;
    width: 72px;
    padding: 40px 0 0 0;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 16px
}

.menu__img {
    width: 40px;
    height: 40px;
}

.working-frame {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.post-frame__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 474px;
    height: 36px;
    margin: 14px 0;
}

.post-frame__foto {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.post-frame__name {
    font-family: "Golos UI", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
}

.post-frame__edit {
    position: absolute;
    right: 6px;
    width: 24px;
    height: 24px;
}

.post-frame__post {
    position: relative;
    width: 474px;
    height: 474px;
    margin-bottom: 16px;
}

.post-frame__images {
    position: absolute;
    width: 474px;
    height: 474px;
}

.post-frame__images_hidden {
    display: none;
}

.post-frame__slider_left {
    position: absolute;
    top: 227px;
    left: 16px;
    width: 20px;
    height: 20px;
}

.post-frame__slider_right {
    position: absolute;
    top: 227px;
    right: 16px;
    width: 20px;
    height: 20px;
}

.post-frame__counter-foto {
    position: absolute;
    top: 20px;
    right: 16px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 24px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: #22222280;
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #FFFFFF;
}

.post-frame__likes {
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    gap: 3px;
    background-color: #2222220D;
    padding: 6px 12px;
    border-radius: 8px;
    height: 30px;
    width: fit-content;
    margin-bottom: 16px;
}

.post-frame__heart {
    width: 16px;
    height: 16px;
}

.post-frame__counter-like {
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
}

.post-frame__text_nowraped-more {
    position: relative;
    width: 474px;
    max-height: none;
    margin-bottom: 25px;
}

.post-frame__text_wraped-more {
    position: relative;
    width: 474px;
    max-height: 37px;
    margin-bottom: 25px;
}

.post-frame__inner-text_show {
    width: 474px;
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    max-height: fit-content;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: none;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-frame__inner-text_hidden {
    width: 474px;
    max-height: 37px;
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-frame__more {
    cursor: pointer;
    position: absolute;
    bottom: -18px;
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
}

.post-frame__time-ago {
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
}

.modal-frame_hidden {
    display: none;
}

.modal-frame_active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22222280;
    position: fixed;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.modal-frame_image-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 636px;
    height: 636px;
}

.modal-frame_image {
    position: absolute;
    width: 636px;
    height: 636px;
}

.model-frame_sliderR {
    top: 307px;
    right: 16px;
}

.model-frame_sliderL {
    top: 307px;
    left: 16px;
}

.model-frame_counter {
    background-color: none;
    position: absolute;
    margin: 0 auto;
    bottom: -33px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 18px;
    padding: 0 10px;
    border-radius: 20px;
    font-family: "Golos UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #FFFFFF;
}

.modal-frame_esc {
    position: absolute;
    height: 36px;
    width: 36px;
    top: -34px;
    right: 0;
}